version: 2.1

jobs:
  say-hello:
    # Specify the execution environment. You can specify an image from Dockerhub or use one of our Convenience Images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/2.0/configuration-reference/#docker-machine-macos-windows-executor
    docker:
      - image: cimg/base:stable
    # Add steps to the job
    # See: https://circleci.com/docs/2.0/configuration-reference/#steps
    steps:
      - checkout
      - run:
          name: "Say hello"
          command: return 1

  
  error_handler:
    docker:
      - image: circleci/node:13.8.0 
    steps:
      - checkout
      - run: echo "our build failed some tests"
    when: on_fail

workflows:
  say-hello-workflow:
    jobs:
      - say-hello
      - error_handler